// -------------------------------------------------------------------- //
// ---------------------------- Normalize ----------------------------- //
// -------------------------------------------------------------------- //

html, body
	margin: 0
	padding: 0

html
	font-weight: normal
	font-family: Helvetica, Arial, sans-serif
	box-sizing: border-box

*, *:after, *:before
	box-sizing: inherit

.svg_defs
	display: none

svg:not(:root)
	overflow: hidden